@font-face {
    font-family: "ArialNarrowRegular";
    src: url("../fonts/ArialNarrowRegular/ArialNarrowRegular.eot");
    src: url("../fonts/ArialNarrowRegular/ArialNarrowRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ArialNarrowRegular/ArialNarrowRegular.woff") format("woff"),
    url("../fonts/ArialNarrowRegular/ArialNarrowRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ArialNarrowBold";
    src: url("../fonts/ArialNarrowBold/ArialNarrowBold.eot");
    src: url("../fonts/ArialNarrowBold/ArialNarrowBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ArialNarrowBold/ArialNarrowBold.woff") format("woff"),
    url("../fonts/ArialNarrowBold/ArialNarrowBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ArialNarrowItalic";
    src: url("../fonts/ArialNarrowItalic/ArialNarrowItalic.eot");
    src: url("../fonts/ArialNarrowItalic/ArialNarrowItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ArialNarrowItalic/ArialNarrowItalic.woff") format("woff"),
    url("../fonts/ArialNarrowItalic/ArialNarrowItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ArialNarrowBoldItalic";
    src: url("../fonts/ArialNarrowBoldItalic/ArialNarrowBoldItalic.eot");
    src: url("../fonts/ArialNarrowBoldItalic/ArialNarrowBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ArialNarrowBoldItalic/ArialNarrowBoldItalic.woff") format("woff"),
    url("../fonts/ArialNarrowBoldItalic/ArialNarrowBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    font-family: Arial Narrow;
}

a {
    outline: 0;
}

/*.container-fluid {*/
/*padding-right: 0!important;*/
/*padding-left: 0!important;*/
/*}*/
.nopad {
    padding: 0;
}

.nomar {
    margin: 0;
}

/*news section start*/
.intro-news {
    margin-top: 67px;
}

.head-title {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}

.num-block {
    height: 23px;
    width: 23px;
    background-color: #fff720;
    float: left;
    margin-right: 10px;
}

.num-block-pos {
    height: 23px;
    width: 23px;
    background-color: #8dcff4;
    float: left;
    margin-right: 10px;
    margin-left: 20px;
}

.title {
    font-size: 32px;
    font-weight: 600;
    color: #376c63;
}

.title a{
    color: #376c63;
    text-decoration: none;
}

.news {
    height: 256px;
    width: 100%;
    background-color: #e5e4e4;
    margin-bottom: 25px;
}

.news-title {
    display: flex;
    align-items: center;
}

.news-date {
    font-size: 21px;
    font-weight: 400;
    color: #376c63;
    padding-top: 14px;
    margin: 0;
}

.yel-block {
    height: 80px;
    width: 17px;
    background-color: #fff720;
    float: left;
    margin-right: 10px;
}

.news-title p {
    margin-right: 30px;
    font-size: 18px;
}

.news-1 {
    height: 50%;
    padding: 0;
}

.news-1 img {
    height: 100%;
    width: 100%;
}

.news-1-desc {
    height: 50%;
    padding: 0;
    display: flex;
}

.all-news {
    width: 140px;
    height: 31px;
    background-color: #ebe31b;
    margin: 0 auto 30px;
}

.all-news div {
    font-size: 14px;
    font-weight: 600;
    color: #195750;
    text-align: center;
    position: relative;
    top: 20%;
}

.all-news a{
    font-size: 14px;
    font-weight: 600;
    color: #195750;
}

.container-margin {
    margin: 0 50px;
}



@media screen and (max-width: 991px) {
    .news-title p {
        margin-right: 10px;
        font-size: 17px;
    }

    .news-date {
        font-size: 19px;
        padding-top: 14px;
        margin: 0;
    }

    .incasacia h2 {
        font-size: 23px !important;
    }

    .incasacia-2 h2 {
        font-size: 23px !important;
    }

    .incasacia-3 h2 {
        font-size: 23px !important;
    }

    .incasacia li span {
        font-size: 20px !important;
    }

    .incasacia-2 li span {
        font-size: 20px !important;
    }

    .incasacia-3 li span {
        font-size: 20px !important;
    }

    .mobi-icons {
        display: block!important;
    }

    .tablet-none{
        display: none!important;
    }

    .menu-list{
        flex-direction: column;
        order: 1;
    }

    .main-navigation{
        display: flex;
        flex-direction: column;
    }

    .socials-search{
        order: 2;
    }

    .menu-list .menu-list__item:nth-child(1){
        order: 2;
    }

    .menu-list .menu-list__item:nth-child(2){
        order: 3; 
    }

    .menu-list .menu-list__item:nth-child(3){
        order: 1;
        text-align: center;
        margin: 0 auto;
    }

    .menu-list .menu-list__item:nth-child(4){
        order: 4;
    }

    .menu-list .menu-list__item:nth-child(5){
        order: 5;
    }

        .menu-list .menu-list__item:nth-child(6){
        order: 6;
    }

        .menu-list .menu-list__item:nth-child(7){
        order: 7;
    }

        .menu-list .menu-list__item:nth-child(8){
        order: 8;
    }

        .menu-list .menu-list__item:nth-child(9){
        order: 9;
    }

    .menu-list .menu-list__item a{
        width: 100%!important;
        font-size: 16px!important;
        padding: 5px 30px!important;
    }

    .menu-list .logo img{
        width: 150px!important;
        height: 150px;
        position: static!important;
    }

    .bottom-menu{
        order: 4;
    }

    .socials-search {
        padding-top: 0px!important;
    }

    .socials-search:before {
        height: 0!important;
    }



    .text-center {
        padding-left: 15px!important;
        padding-right: 15px!important;
    }

    .menu-list {
        background-image: none!important;
    }

}

@media screen and (max-width: 768px) {
    .news-title p {
        margin-right: 10px;
        font-size: 15px;
    }

    .search-body{
        margin-top: 15px;
    }

    .news-date {
        font-size: 18px;
        font-weight: 400;
        color: #376c63;
        padding-top: 20px;
        margin: 0;
    }

    .container-margin {
        margin: 0;
    }

    .news-pad {
        padding: 0px 10px;
    }

    .incasacia h2 {
        font-size: 21px !important;
    }

    .incasacia-2 h2 {
        font-size: 21px !important;
    }

    .incasacia-3 h2 {
        font-size: 21px !important;
    }

    .incasacia li span {
        font-size: 18px !important;
    }

    .incasacia-2 li span {
        font-size: 18px !important;
    }

    .incasacia-3 li span {
        font-size: 18px !important;
        line-height: 20px;
        color: #5b5b5b;
    }

    .incasacia {
        margin-top: 10px !important;
        margin-left: 15% !important;
    }

    .incasacia-3 {
        margin-top: 10px !important;
        margin-left: 15% !important;
    }

    .label-pos {
        margin-left: 0% !important;
    }

    .socials-search{
        flex-direction: column!important;
    }

    .socials-icons,.search-body{
        padding: 0!important;
    }

    .yellow-line p {
        font-size: 14px!important;
    }

    .social-wrapper {
        height: auto!important;
        margin-bottom: 20px!important;
    }

    .footer-wrapper {
        height: auto!important;
    }

    .wrrapper-description {
         height: auto!important; 
    }

    .text-center {
        padding: 0;
    }

    .middle-part {
        visibility: hidden;
    }
}

@media screen and (max-width: 414px) {
    .img-fluid {
        display: none;
    }

    .incasacia {
        margin-top: 40px !important;
        margin-left: 0 !important;
    }

    .incasacia-3 {
        margin-top: 50px !important;
        margin-left: 0 !important;
    }

    .incasacia ul {
        margin-left: -20px;
        text-align: center;
    }

    .incasacia-2 {
        margin-top: -185px;
    }

    .incasacia-2 ul {
        margin-left: -20px;
        text-align: center;
    }

    .incasacia h2 {
        font-size: 25px !important;
        text-align: center;
    }

    .incasacia-2 h2 {
        font-size: 25px !important;
        text-align: center;
    }

    .incasacia-3 h2 {
        font-size: 25px !important;
        text-align: center;
    }

    .incasacia-3 ul {
        text-align: center;
    }

    .incasacia li span {
        font-size: 23px !important;
    }

    .incasacia-2 li span {
        font-size: 23px !important;
    }

    .incasacia-3 li span {
        font-size: 23px !important;
    }

    .modal-body span {
        width: 100%!important;
    }

    .first-span:before{
    display: none;
    }

.second-span:before{
    display: none;
    }
}

/*news section end*/
/*poslugy section start*/
.incasacia .grey-font {
    color: #5b5b5b;
}

.posluga-1 {
    height: 380px;
    width: 100%;
    background-color: #1e5a50;
}

.posluga-2 {
    height: 380px;
    width: 100%;
    background-color: #ffffff;
}

.posluga-3 {
    height: 380px;
    width: 100%;
    background-color: #dcdcdc;
}

.posluga-4 {
    height: 380px;
    width: 100%;
    background-color: #ffffff;
}

.label-pos {
    height: 60px;
    width: 208px;
    background-color: #fff720;
    display: flex;
    align-items: center;
    margin-left: 15%;
}

.incasacia {
    margin-top: 45px;
    margin-left: 20%;
}

.incasacia-3 {
    margin-top: 45px;
    margin-left: 20%;
}

.incasacia h2 {
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
}

.incasacia-2 h2 {
    font-size: 26px;
    font-weight: 600;
    color: #5b5b5b;
}

.incasacia-3 h2 {
    font-size: 26px;
    font-weight: 600;
    color: #5b5b5b;
}

.incasacia li {
    color: #8dcff4;
}

.incasacia li span {
    font-size: 24px;
    line-height: 25px;
    color: #ffffff;
}

.incasacia-2 li span {
    font-size: 24px;
    line-height: 25px;
    color: #5b5b5b;
}

.incasacia-3 li span {
    font-size: 24px;
    line-height: 25px;
    color: #5b5b5b;
}

.img-fluid {
    height: 100%;
}

.img-fluid img {
    width: 100%;
    height: 100%;
}

.center {
    display: flex;
    align-items: center;
}

/*poslugy section end*/

/* section about start*/
.mar-top {
    margin-top: 60px;
}

.about {
    padding-top: 60px;
    background-color: #dcdcdc;
    background-image: url(../images/LOGO_small.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.about-img-1 img {
    width: 100%;
}

.about-img-2 img {
    width: 100%;
}

.about-intro {
    margin-bottom: 90px;
}

.about-intro p {
    font-size: 22px;
    color: #5b5b5b;
}

.resp {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 991px) {
    .about-intro {
        margin-bottom: 60px;
    }

    .about-intro p {
        font-size: 20px;
        color: #5b5b5b;
    }

}

@media screen and (max-width: 768px) {
    .about-intro {
        margin-bottom: 50px;
    }

    .about-intro p {
        font-size: 18px;
        color: #5b5b5b;
    }

}

@media screen and (max-width: 441px) {
    .about {
        padding-top: 40px;
    }

    .about-img-1 {
        display: none;
    }

    .about-intro {
        margin-bottom: 10px;
    }

    .about-intro p {
        font-size: 23px;
        text-align: center;
        color: #5b5b5b;
    }

}

/*section about end*/

/*section about end*/

/* notice section */
.notice-wrapper {
    margin: 0;
    width: 100%;
    height: 120px;
    background-color: #fff720;
    justify-content: center;
}

.notice {
    align-self: center;
}

.notice-text {
    font-size: 18px;
    font-weight: bold;
    color: #195750;
}

@media screen and (max-width: 768px) {
    .notice-text {
        text-align: center;
        padding: 0 15%;
    }
}

/* notice section end */

/* footer */
.footer {
    /*height:250px;*/
}

.footer-background {
    background-image: url("../images/footer-background.png");
    background-color: #cccccc;

}

.footer-wrapper {
    height: 214px;
}

.footer-image {
    width: 180px;
    padding: 30px 0;
}

.wrrapper-description {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row
}

.footer-description-text {
    align-self: center;
    font-size: 18px;
    color: #ffffff;
}

.social-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.social-block {
    align-self: center;
}

.list-inline {
    margin: 0;
}

.list-inline-item {
    margin: 0 !important;
    padding: 0 !important;
    width: 55px;
    height: 55px;
}

.list-inline-item:nth-child(2n) {
    background-color: #5d5d5d;
}

.list-inline-item:nth-child(2n -1 ) {
    background-color: #717271;
    margin-bottom: 5px!important;
}

.list-inline-item:hover {
    background-color: #fff720;
}

.list-inline-item a i:hover {
    color: #717271;
}

.list-inline-item a {
    width: 55px;
    height: 55px;
}

.list-inline-item a i {
    color: #525151;
    padding: 12px;
}

.copyright {
    height: 45px;
    background-color: #333232;
    justify-content: center;
    margin: 0;
}

.copyright-text {
    align-self: center;
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: #555454;
}

@media screen and (max-width: 991px) {
    .footer-description-text {
        font-size: 16px;
        padding: 20px;
    }

    .footer-image {
        display: flex;
        margin: 0 auto;
        padding-right: 30px;
    }
}

/* footer end */

/* news page */
#top-news {
    margin-bottom: 90px;
}

#top-news .container {
    /*margin: 0 ;*/
}

.main-news-image {
    width: 100%;
    height: 330px;
}

.wrapper-description-post {
    position: relative;
}

.wrapper-description-post p {
    padding-right: 55px;
}

.position-view-more-top-news {
    position: absolute;
    bottom: -40px;
    right: 55px;
}

.wrapper-top-news-text {
    padding: 35px 0;
}

#news {
    margin-top: -16px !important;
    padding: 10px 0;
    background-color: #dcdcdc;
}

.post-item {
    width: 100%;
    margin: 50px 0;
}

.wrapper-item-image-post {

}

.title span {
    margin-top: 8px;
}

#top-news .title {
    margin: 80px 0 40px 0;
}

.post-date, .view-more {
    font-size: 20px;
    color: #21564e;
}

.view-more:hover {
    text-decoration: none;
    color: #2b857d;
}

.wrapper-post-additional {
    width: 100%;
}

.location-additional-date-block {
    float: left;
}

.location-additional-view-more {
    float: right;

}

.wrapper-item-description {
    padding: 15px 50px;
}

.post-item-title {
    width: 100%;
    margin: 0 0 20px;
}

.image-post{
    width: 100%;
}

.location-additional-date-block {

}

.pagination {
    justify-content: center;
}

.pagination li {
    width: 50px;
    height: 50px;
    background-color: #e5e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li a{
    color: #1E5A50;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 13px;
}

.pagination li.active{
    background-color: yellow;
    color: #21564e;
}


@media screen and (max-width: 768px) {
    .main-news-image {
        width: 100%;
        height: auto;
        padding: 0 10%;
    }

    .wrapper-top-news-text {
        padding: 0 10%;
    }

    .wrapper-item-image-post {
        padding: 0 10%;
    }

    .wrapper-item-image-post img {
        width: 100%;
    }
}

/* news page end */

/* news page - one post */
#one-post {
    width: 100%;
}

.wrapper-one-post-additional {
    margin: 60px 0 40px 0;
}

.wrapper-one-post-additional-date p {
    float: left;
}

.post-single-description{
    text-align: center;
}

.wrapper-content-one-post{
    max-width: 100%;
    overflow: hidden;
}

.previous-next {
    float: right;
}

.previous-next .view-more.disabled{
    color: darkgray;
}

.vertical-separator {
    padding: 0 10px;
    vertical-align: text-bottom;
}

@media screen and (max-width: 768px) {
    .wrapper-one-post-additional p {
        text-align: center;
        float: none;
    }
}

/* news page - one post end */

/* contacts page */
#contacts {
    margin-top: -20px;
    padding-top: 60px;
    background-color: #dcdcdc;
    background-image: url(../images/LOGO_small.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
}

.wrapper-contact-item {
    margin: 25px 0;
    height: 100px;
}

.wrapper-image-contacts {
    display: block;
    float: left;
}

.wrapper-image-contacts img {
    width: 100px;
    height: 100px;
}

.wrapper-contact-info {
    display: block;
    float: left;
    padding: 5px;
}

.wrapper-contact-info a {
    text-decoration: none;
    color: #5b5b5b;
}

.wrapper-contact-info p {
    margin: 0;
    padding: 0 30px;
    font-size: 21px;
    color: #5b5b5b;
}

.phone, .email, .position {
    max-width: 230px;
    overflow: hidden;
    max-height: 31px;
}

.contact-intro-text {
    margin: 20px 0 50px 15px;
    font-size: 21px;
    color: #5b5b5b;
}

#form {
    margin: 90px 0;
    background-color: rgb(255, 255, 255);
}

#contact-form {
    padding-right: 10%;
    margin: 0;
}

.wrapper-search-form{
    margin: 50px 0;
    text-align: center;
}

#search-form .form-group {
    margin: 10px 0;
    height: 66px;
}

#search-form input {
    padding: 20px 10px 20px 20px;
    line-height: 20px;
    border-radius: 0;
    width: 40%;
}

.form-with-line {
    padding-top: 70px;
    position: relative;
    box-shadow: inset -2px 0 0 #ACACAC;
}

.wrapper-title-form{
    position: absolute;
    top: 0;
    left: 15px;
}

#contact-form .form-group {
    margin: 10px 0;
    height: 66px;
}

#contact-form .form-group:nth-child(3) {
    height: 230px;
}

#contact-form .form-group textarea {
    height: inherit;
}

textarea, input {
    color: #195750;
}

#contact-form .form-group input {
    padding: 20px 10px 20px 20px;
    line-height: 20px;
    background-color: #dcdcdc;
    border-radius: 0;
}

#contact-form .form-group textarea {
    background-color: #dcdcdc;
    border-radius: 0;
}

.wrapper-submit-button {
    margin: 0;
    padding: 0;
}

.submit-btn {
    margin-top: 15px;
    background-color: rgb(149, 149, 149);
    border-color: #868686;
    border-radius: 0;
    color: #ffffff;
    height: 55px;
    padding: 0 50px;
    font-size: 24px;
}

.wrapper-form-right-text-block{
    z-index: 1;
    position: relative;
    padding-top: 70px;
}

.contact-siluet{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.wrapper-form-right-text {
    padding-left: 10%;
    font-size: 24px;
}

.wrapper-form-right-text ul {
    padding-left: 0;
    list-style-type: none;
    color: #959595;
}

.wrapper-form-right-text ul li {
    margin-bottom: 20px;
}

.order-now {
    color: #959595;
}

.order-now:hover {
    color: #959595;
}

@media screen and (max-width: 991px) {
    .wrapper-main-contact-block {
        margin: 0 0 50px 0;
    }

    .wrapper-contact-item {
        width: 100%;
        text-align: center;
        margin: 50px 0;
    }

    .wrapper-image-contacts {
        width: 100%;
    }

    .wrapper-contact-info {
        width: 100%;
        text-align: center;
    }

    .wrapper-contact-info p {
        text-align: center;
        width: 100%;
        max-height: 100px;
        padding: 0;
        margin: 0 auto;
        overflow: visible;
    }

    .contact-intro-text {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .form-with-line {
        box-shadow: none;
    }

    #contact-form {
        padding: 0;
    }

    .wrapper-submit-button {
        width: 100%;
        text-align: center;
        margin-bottom: 90px;
    }

}

/* contacts page end */


.menu-list {
    display: flex;
    justify-content: center;
    color: white;
    background: #1E5A50;
    padding-left: 0;
    background-image: url(../images/texture.png);
    background-size: auto 100%;
}

.menu-list .menu-list__item {
    list-style-type: none;
    text-align: center;
}

.menu-list .menu-list__item a:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.menu-list .menu-list__item a:not(.no-link) {
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    display: inline-block;
    padding: 12px 40px;
    border: 1px solid #274a44;
    background: #256056;
    width: 210px;
}

.menu-list .menu-list__item a:hover{
    background: #1A4941;
    color: yellow;
}

.menu-list .menu-list__item.active a.active{
    background-color: #1A4941;
    color: white;
}

.menu-list a:visited, a:active{
    text-decoration: none;
    outline: 0;
}

.menu-list .logo {
    width: 180px;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
}

.menu-list .logo img {
    position: absolute;
    top: 65px;
    width: 180px;
}

.green-line{
    height:30px;
    width: 100%;
    background: #1A4941;
}

.yellow-line{
    width: 100%;
    background: yellow;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow-line p{
    color: #1A4941;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.social-item i{
    color: white;
    font-size: 30px;
    position: relative;
    top: 10px;

}

.social-item{
    background: #28695E;
    display: inline-block;
    height: 45px;
    width: 45px;
    text-align: center;
}

.social-item.odd{
    background: #1E5A50;
}

.search-field input{
    background: #5c6c7987;
    border: none;
    height: 45px;
    width: 150px;
    padding-left: 20px;
    color: white;
    font-size: 13px;
    outline: none;
}

.search-field a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background: yellow;
}

.search-field a:hover{
    text-decoration: none;
}

.search-field a i{
    font-size: 20px;
    color: #1A4941;
}

.search-field{
    display: flex;
}

.socials-search .socials-icons{
    color: white;
    padding-left: 120px;
}

.socials-search .socials-icons .social-item:hover{
    background-color: yellow;
    color: #0d3625;
}


.search-body{
    padding-right: 120px;
}

.socials-search{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 35px;
    align-items: center;
}

.main-navigation{
    background-image: url("../images/header-bg.jpg");
    background-size: 100% 100%;
}

.search-field input::-webkit-input-placeholder {color:white;}
.search-field input::-moz-placeholder          {color:white;}/* Firefox 19+ */
.search-field input:-moz-placeholder           {color:white;}/* Firefox 18- */
.search-field input:-ms-input-placeholder      {color:white;}

.bottom-menu{
    display: flex;
    justify-content: center;
    background: #1a4941;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 80px;
    box-shadow: -8px 22px 64px -11px rgba(0,0,0,1);
}

.bottom-menu li a{
    color: yellow;
    font-size: 18px;
    border-right: 2px solid white;
    padding-right: 20px;
    padding-left: 20px;
}

.bottom-menu li a.active{
    color: white;
}

.bottom-menu li a:hover,
.bottom-menu li a:visited,{
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: none!important;
}

.bottom-menu li{
    list-style-type: none;
}

.socials-search:before{
    content: '';
    position: absolute;
    width: 76%;
    height: 5px;
    background: yellow;
}

.socials-icons,.search-body{
    position: relative;
}

@media (max-width: 1366px) {
    .menu-list .menu-list__item a:not(.no-link){
        width: auto;
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .menu-list .menu-list__item a {
        padding: 15px 20px;
    }
    .menu-list .logo {
        margin-left: 40px;
        margin-right: 40px;
    }

    .socials-icons {
        padding-left: 100px;
    }

    .search-body{
        padding-right: 100px;
    }

    .menu-list .menu-list__item a {
        font-size: 16px;
        padding: 15px 30px;
        width: 200px;
    }

    .menu-list .menu-list__item{
        text-align: center;
    }

    .bottom-menu li a {
        font-size: 18px;
    }

    .menu-list .logo img {
        top: 90px;
    }


    .text-center {
        padding: 0;
    }

}


@media (max-width: 600px){
.modal-body{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .modal-body input, .modal-body textarea {
        margin-left: 0!important;
        width: 100%!important;
    }

    .modal-body .right-part{
        padding-right: 0;
    }

    .modal-body .left-part, .modal-body .right-part {
        width: 80%!important;
        text-align: center;
    }

    .middle-part h3{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .middle-part {
        visibility: visible;
    }

    .vertical-line{
        display: none;
    }

    .right-part h3 {
         padding-left: 0!important; 
    }
}

#map iframe{
    width: 100%;
}

.modal-dialog {
    max-width: 90%;
    margin: 30px auto;
}

.modal-body{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.modal-body .left-part,
.modal-body .right-part{
    width: 45%;
    text-align: center;
}

.modal-body .right-part{
}

.middle-part{
    width: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-body h3{
    font-size: 24px;
    font-weight: bold;
    color: #256056;
}

.modal-body span{
    display: inline-block;
    color: white;
    font-size: 24px;
    padding: 5px 0;
    width: 300px;
    margin-bottom: 20px;
}

.modal-body .first-span{
    background: #88C99D;
    text-transform: uppercase;
}

.modal-body .second-span{
    background: #F09450;
    margin-top: 30px;
    text-transform: uppercase;
}

.left-part h3{
    margin-bottom: 50px;
}

.right-part h3{
    margin-bottom: 40px;
    padding-left: 50px;
}

.left-part p{
    font-size: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: 777474;
}

.modal-body input,.modal-body textarea{
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    background: #EBEBEB;
    border: none;
    width: 90%;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.btn-submit{
    width: 200px!important;
    padding-top: 12px!important;
    padding-bottom: 12px!important;
    text-transform: uppercase;
    color: white;
    background: #959595!important;
}

.right-part{
    padding-right: 40px;
}


.btn-submit:hover{
    cursor: pointer;
}

.left-part{
    background-image: url(http://localhost:8000/images/siluet.png);
    background-repeat: no-repeat;
    background-size: 20% 100%;
    background-position: 15%;
}

#page{
    margin: 50px;
}

.header-ico {
    width: 200px;
    height: 100px;
    position: absolute;
    right: 0;
}

.mobi-icons{
    display: none; 
}

.header {
    width: 100%;
    position: fixed;
    z-index: 5;
}

.header-ico {
    width: 50px;
    height: 30px;
    position: fixed;
    z-index: 4;
    top: 0;
}

.ico-bg {
    width: 250px;
    height: 150px;
}

.ico-one {
    margin: 50px 30px;
    width: 35px;
    height: 35px;
}
.ico-two {
    margin: 80px 30px;
    width: 35px;
    height: 35px;
}

.hider {
    display: none;
}

.hiden {
    display: none;
}

.menu {
    position: fixed;
    width: 100%;
    right: 0;
    background: #256056;
    z-index: 4;
    top: 0;
    height: 100vh;
    overflow: scroll;
}

.menu .main-navigation{
    background-image: none;
}

.fone-hide{
    display: none;
}

.bottom-menu .last a{
    border: none;
}

.vertical-line{
    width: 4px;
    height: 60%;
    background: #ACACAC;
}

.first-span:before{
    content: url(../images/call-ico.png);
    position: absolute;
    left: 10px;
    top: 7px;
}

.second-span:before{
    content: url(../images/call-back-ico.png);
    position: absolute;
    left: 10px;
    top: 7px;
}

.first-span,.second-span{
    position: relative;
}

.search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    background: yellow;
    border: none;
    outline: none;    
}

.search-btn:hover{
    cursor: pointer;
     outline: none;  
}

form{
    display: flex;
    margin-bottom: 0;
}


.no-link{
    display: flex;
    justify-content: center;
}


.search-field i{
    font-size: 14px;
}