@font-face {
    font-family: "ArialNarrowRegular";
    src: url("../fonts/ArialNarrowRegular/ArialNarrowRegular.eot");
    src: url("../fonts/ArialNarrowRegular/ArialNarrowRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialNarrowRegular/ArialNarrowRegular.woff") format("woff"),
    url("../fonts/ArialNarrowRegular/ArialNarrowRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ArialNarrowBold";
    src: url("../fonts/ArialNarrowBold/ArialNarrowBold.eot");
    src: url("../fonts/ArialNarrowBold/ArialNarrowBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialNarrowBold/ArialNarrowBold.woff") format("woff"),
    url("../fonts/ArialNarrowBold/ArialNarrowBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ArialNarrowItalic";
    src: url("../fonts/ArialNarrowItalic/ArialNarrowItalic.eot");
    src: url("../fonts/ArialNarrowItalic/ArialNarrowItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialNarrowItalic/ArialNarrowItalic.woff") format("woff"),
    url("../fonts/ArialNarrowItalic/ArialNarrowItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ArialNarrowBoldItalic";
    src: url("../fonts/ArialNarrowBoldItalic/ArialNarrowBoldItalic.eot");
    src: url("../fonts/ArialNarrowBoldItalic/ArialNarrowBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialNarrowBoldItalic/ArialNarrowBoldItalic.woff") format("woff"),
    url("../fonts/ArialNarrowBoldItalic/ArialNarrowBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
* {
    font-family: Arial Narrow;
}

.container-fluid {
    padding-right: 0!important;
    padding-left: 0!important;
}
.nopad {
    padding: 0;
}
/*news section start*/
.intro-news {
    margin-top: 67px;
}
.head-title {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}
.num-block {
    height: 23px;
    width: 23px;
    background-color: #fff720;
    float: left;
    margin-right: 10px;
}
.title {
    font-size: 32px;
    font-weight: 600;
    color: #376c63;
}
.news {
    height: 256px;
    width: 100%;
    background-color: #e5e4e4;
    margin-bottom: 25px;
}
.news-title {
    display: flex;
    align-items: center;
}
.news-date {
    font-size: 21px;
    font-weight: 400;
    color: #376c63;
    padding-top: 14px;
    margin: 0;
}
.yel-block {
    height: 80px;
    width: 17px;
    background-color: #fff720;
    float: left;
    margin-right: 10px;
}
.news-title p {
    margin-right: 30px;
    font-size: 18px;
}
.news-1 {
    height: 50%;
    padding: 0;
}
.news-1 img{
    height: 100%;
    width: 100%;
}

.news-1-desc {
    height: 50%;
    padding: 0;
    display: flex;
}
.all-news {
    width: 140px;
    height: 31px;
    background-color: #ebe31b;
    margin: 0 auto 30px;
}
.all-news div {
    font-size: 14px;
    font-weight: 600;
    color: #195750;
    text-align: center;
    position: relative;
    top: 20%;
}
/*news section end*/
/*poslugy section start*/
.posluga-1 {
    height: 382px;
    width: 100%;
    background-color: #1e5a50;
}
/*poslugy section end*/


/* notice section */
.notice-wrapper{
    margin: 0;
    width:100%;
    height:120px;
    background-color: #fff720;
    justify-content: center;
}
.notice{
    align-self: center;
}
.notice-text{
    font-size: 18px;
    font-weight: bold;
    color: #195750;
}
/* notice section end */

/* footer */
.footer{
    /*height:250px;*/
}

.footer-wrapper{
    height:214px;
}

.footer-image{
    width:180px;
    padding: 30px 0;
}

.copyright{
    height:45px;
    background-color: #333232;
    justify-content: center;
}
.copyright-text{
    align-self: center;
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: #555454;
}
/* footer end */

